<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs' ) %>
</head>

<body>

    <%- include ('../partials/nav.ejs') %>
        <div id="grid">
            <% galleryData.forEach(element=> { %>
                <div>

                    <img src=<%=element.download_url %> alt="">

                </div>

                <% }) %>
        </div>

</body>

</html>